In [2]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

'sudo'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'sudo'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.
'rm'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [3]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('seaborn')
sns.set(font_scale=1)
plt.rc('font', family='NanumBarunGothic')
plt.rcParams['font.family'] = 'NanumGothic'

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
bike1 = pd.read_csv('./data/공공자전거 대여소 정보(21.01.31 기준).csv', encoding='cp949')
bike2 = pd.read_csv('./data/공공자전거 대여소별 이용정보_2020.07_2021.01.csv', encoding='cp949')

In [5]:
bike2

      대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0        강남구                2301. 현대고등학교 건너편     202007   3997
1        강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     202007   1250
2        강남구                  2303. 논현역 7번출구     202007    863
3        강남구         2304. 신영 ROYAL PALACE 앞     202007    334
4        강남구              2305. MCM 본사 직영점 앞     202007    436
...      ...                             ...        ...    ...
14749    중랑구                    1474.서울중랑우체국     202101    315
14750    중랑구                  1477.면목삼익아파트 앞     202101    159
14751    중랑구                 1478.홈플러스 상봉점 앞     202101    427
14752    중랑구                  1479.면목 홈플러스 2     202101    187
14753    중랑구                   1480. 용마지구대 옆     202101    207

[14754 rows x 4 columns]

In [6]:
bike1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
대여소
번호       2154 non-null int64
보관소(대여소)명    2154 non-null object
자치구          2154 non-null object
상세주소         2154 non-null object
위도           2042 non-null float64
경도           2042 non-null float64
설치
시기        2152 non-null object
거치대수_LCD     1482 non-null float64
거치대수_QR      671 non-null float64
운영
방식        2154 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 168.4+ KB

In [7]:
bike2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14754 entries, 0 to 14753
Data columns (total 4 columns):
대여소 그룹       14754 non-null object
대여소 명        14754 non-null object
대여 일자 / 월    14754 non-null int64
대여 건수        14754 non-null int64
dtypes: int64(2), object(2)
memory usage: 461.2+ KB

In [8]:
bike1.columns = ['대여소번호', '대여소명', '자치구', '상세주소', '위도', '경도', '설치시기', '거치대수icd', '거치대수qr', '운영방식']

In [9]:
bike1.head()

,대여소번호,대여소명,자치구,상세주소,위도,경도,설치시기,거치대수icd,거치대수qr,운영방식
0,301,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16.0,NaN,LCD
1,302,경복궁역 4번출구 뒤,종로구,서울특별시 종로구 사직로 지하130,37.575947,126.974060,2015-10-07,12.0,NaN,LCD
2,303,광화문역 1번출구 앞,종로구,서울특별시 종로구 세종대로 지하189,37.571770,126.974663,2015-10-07,8.0,NaN,LCD
3,304,광화문역 2번출구 앞,종로구,서울특별시 종로구 세종대로 지하172,37.572113,126.977577,2021-01-26,NaN,7.0,QR
4,305,종로구청 옆,종로구,서울특별시 종로구 삼봉로 43,37.572582,126.978355,2015-10-07,16.0,NaN,LCD

In [10]:
bike1 = bike1.drop(['상세주소', '위도', '경도'], axis=1, inplace=False)

In [11]:
bike1['거치대수icd'] = bike1['거치대수icd'].fillna(0)
bike1['거치대수qr'] = bike1['거치대수qr'].fillna(0)

In [12]:
bike2['대여소번호'] = bike2['대여소 명'].str.split('.', expand=True)[0]
bike2['대여소명_new'] = bike2['대여소 명'].str.split('.', expand=True)[1]

In [13]:
bike22 = bike2.dropna(subset=['대여소명_new'])

In [14]:
bike22.isnull().any()

대여소 그룹       False
대여소 명        False
대여 일자 / 월    False
대여 건수        False
대여소번호        False
대여소명_new     False
dtype: bool

In [15]:
bike1['대여소번호'] = bike1['대여소번호'].astype(object)

In [16]:
bike1['대여소번호'].dtypes

dtype('O')

In [17]:
bike1.head()

  대여소번호         대여소명  자치구        설치시기  거치대수icd  거치대수qr 운영방식
0   301  경복궁역 7번출구 앞  종로구  2015-10-07     16.0     0.0  LCD
1   302  경복궁역 4번출구 뒤  종로구  2015-10-07     12.0     0.0  LCD
2   303  광화문역 1번출구 앞  종로구  2015-10-07      8.0     0.0  LCD
3   304  광화문역 2번출구 앞  종로구  2021-01-26      0.0     7.0   QR
4   305       종로구청 옆  종로구  2015-10-07     16.0     0.0  LCD

In [19]:
bike1['총거치대수'] = bike1['거치대수icd'] + bike1['거치대수qr']

In [21]:
bike_sum1 = bike1.groupby(['자치구'])['총거치대수'].sum().reset_index()
bike_sum1 = bike_sum1.set_index('자치구')

In [22]:
bike_sum1

       총거치대수
자치구
강남구   1482.0
강동구   1152.0
강북구    676.0
강서구   2029.0
관악구    827.0
광진구   1029.0
구로구   1184.0
금천구    717.0
노원구   1131.0
도봉구    683.0
동대문구  1021.0
동작구    844.0
마포구   1310.0
서대문구  1015.0
서초구   1631.0
성동구    977.0
성북구    911.0
송파구   1770.0
양천구   1028.0
영등포구  1495.0
용산구    865.0
은평구    927.0
종로구   1168.0
중구     962.0
중랑구    830.0

In [25]:
import json
import folium
import warnings

In [24]:
!pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/b9/05/bb30dc97efa1b431c88deac7a77af3d62df1423574c4fe2d5a10a4932e85/folium-0.12.1.post1-py2.py3-none-any.whl (95kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\lee45\anaconda3\lib\site-packages (from folium) (2.10.3)
Requirement already satisfied: numpy in c:\users\lee45\anaconda3\lib\site-packages (from folium) (1.16.5)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/61/1f/570b0615c452265d57e4114e633231d6cd9b9d275256778a675681e4f711/branca-0.4.2-py3-none-any.whl
Requirement already satisfied: requests in c:\users\lee45\anaconda3\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lee45\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\lee45\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lee45\anaconda3\lib\site-packages (from requests->folium) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\lee45\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lee45\anaconda3\lib\site-packages (from requests->folium) (1.24.2)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1.post1